.upload {
  max-width: 800px;
  margin: auto;
  margin-top: 48px;

  .header {
    background: #fff;
    padding: 20px 0 10px;
  }

  h1 {
    font-size: 80px;
    font-weight: bold;
  }
  .upload__form {
    margin-top: 120px;
    padding: 70px;
    background-color: var(--onBackground);
    text-align: center;

    form {
      display: flex;
      flex-direction: column;
      gap: 36px;
    }

    textarea {
      background-color: #c6907554;
      border: 0px solid #828282;

      &:focus {
        border: none;
        box-shadow: none;
        outline: none !important;
      }
    }

    .file-container {
      height: 330px;
      width: 100%;
      background: #ecdad2;
      margin-bottom: 60px;
    }
  }
  .fee {
    padding: 25px 32px;
  }
  .submit {
    margin: 40px 0px;
    button {
      width: 50%;
      height: 65px;
      // border-radius: 100px;
    }
  }

  @media (max-width: 576px) {
    max-width: 100%;

    h1 {
      font-size: 50px;
    }

    .upload__form {
      padding: 70px 15px 120px 15px;

      .file-container {
        height: 255px;

        .file-buttton {
          padding: 12px 35px;
        }
      }
    }
  }
}
