.profile {
  border: 3px solid var(--accent);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  margin: auto;

  .profile-img {
    height: 100%;
    width: 100%;
  }
  .tick-icon {
    width: 17px;
    height: 17px;
    position: absolute;
    bottom: 0px;
    right: 1px;
  }

  .profile-file-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .profile-file-buttton {
      background-color: #ecdad2;
      border: 1px solid #ecdad2;
      padding: 1px 25px;
      color: var(--text);
      cursor: pointer;
      border-radius: 50px;
      font-size: 13px;
      margin: 0px;

      .button-icon {
        margin-left: 18px;
        width: 25px;
      }

      .profile-file-input {
        display: none;
      }
    }
  }
}
