#user-dropdown {
  background: var(--onBackground);
  padding: 20px 20px;
  width: 400px;
  max-width: 400px;
  margin-left: 20px !important;
  margin-top: 15px !important;

  @media (max-width: 576px) {
    width: 325px;
    max-width: 325px;
    margin-left: 0px !important;
  }

  .user-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
  }
  h4 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: bold;
  }
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  strong {
    margin-right: 5px;
  }
  .arrow {
    width: 64px;
    height: 68px;
    top: calc(-0.5rem - 15px);
    &::after {
      border-bottom-color: var(--onBackground);
      border-width: 0 2rem 3rem 2rem;
    }
    &::before {
      content: none;
    }
  }
  .main-row {
    align-items: center;
    margin-top: 20px;
    .visa-col {
      text-align: right;
      img {
        margin-top: -10px;
      }
    }
  }
  .balance-row {
    align-items: center;
    & > div:last-child {
      padding-left: 0px;
    }
  }
  .msg-block {
    margin: 20px -20px;
    background: #c1c1c1;
    padding: 5px;
    justify-content: center;
    a {
      color: #fff;
      font-size: 14px;
      text-decoration: none;
    }
  }
  .icon-link {
    width: fit-content;
    display: list-item;
    color: var(--text);
    text-decoration: none;
    font-size: 16px;
    list-style: none;

    img {
      width: 15px;
      margin-right: 10px;
    }
    &.earth {
      float: right !important;
      display: list-item;
      margin-top: -25px;
    }
  }
}
.icon-link2 {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--accent);
  border-color: var(--accent);
  padding: 10px;

  span {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
  }

  img {
    width: 32px;
    height: 32px;
  }

  .arrow {
    width: 15px;
    height: 15px;
  }

  &:hover {
    border-color: var(--accent);
    background-color: #c69075;
    text-decoration: none;
    box-shadow: 0 0 0 0.2rem #ffffff35;
  }
}
