@import '../../../utils/style/mixins';

.creator-card2 {
  @include cardStyle();
  border: 1px solid #e3e7f1;
  filter: none;
  margin-bottom: 25px;

  &:hover {
    background: #0000000d;
    // transform: scale(1.01);
    // box-shadow: 10px 0px 20px 1px rgb(7 7 7 / 70%);
  }

  .card-header {
    @include cardHeader(156px);

    &::after {
      @include cardHeaderAfter();
    }

    .banner {
      height: 100%;
    }

    .card-img-overlay {
      position: absolute;
      top: unset;
      right: 0;
      bottom: -32px;
      left: 0;
      padding: 0px 1.25rem;
      border-radius: calc(0.25rem - 1px);
      z-index: 2;
    }
  }

  .card-footer {
    text-align: center;
    padding: 3.5rem 2rem 1.2rem 2rem;

    .social-buttons {
      gap: 16px;
    }

    .user-name {
      margin-bottom: 5px;
      color: var(--text);
      font-size: 20px;
      font-weight: bold;
    }
    .user-designation {
      margin-top: 20px;
      font-size: 14px;
      min-height: 50px;
      color: var(--text);
      opacity: 0.7;
    }
    .preview {
      .img-block {
        width: 85px;
        height: 90px;
        overflow: hidden;
        border: 1px solid #000;
        border-radius: 3px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);

        .img {
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  @media (max-width: 576px) {
    @include cardStyle(300px);
  }
}
