// .product-details-header {
//   display: flex;
//   align-items: center;
//   flex-direction: row-reverse;
//   gap: 89px;
//   margin-bottom: 145px;
//   justify-content: flex-end;
//   .header-left {
//     .header-left__top {
//       display: flex;
//       h1 {
//         width: 288px;
//       }
//     }
//     button {
//       width: 180px;
//       .loader {
//         padding: 0;
//       }
//     }
//     .sub-script {
//       font-size: 16px;
//       font-weight: 200;
//       margin-bottom: 43px;
//     }
//     .item-price {
//       display: flex;
//       gap: 20px;
//     }
//     h1 {
//       font-size: 45px;
//       color: #fff;
//     }
//     .header-cta > div {
//       margin-top: 33px;
//       display: flex;
//       gap: 20px;
//       .input-wrapper {
//         display: inline-block;
//         input {
//           width: 120px;
//         }
//       }
//       label {
//         display: flex;
//         align-items: center;
//         span {
//           margin-left: 10px;
//         }
//       }
//     }
//   }
// }

@import '../../../utils/style/mixins';

.product-details-header {
  .sise-card {
    @include cardStyle(600px);
    max-width: 600px;
    min-width: unset;
    margin-bottom: 90px;

    img.card-img-top {
      width: 100%;
      height: auto;
    }

    .user-name {
      font-size: 18px;
      font-weight: 500;
      color: var(--text);
    }
    .user-designation {
      font-size: 16px;
      font-weight: 300;
      font-style: italic;
    }

    .profile .profile-block {
      width: 50px;
      height: 50px;
    }
    @media (max-width: 576px) {
      margin-bottom: 20px;

      .icon-button {
        font-size: 13px;
      }
      img.card-img-top {
        width: 100%;
        height: auto;
      }
    }
  }
  .text-end-icon {
    width: 18px;
    height: 18px;
  }
  h2 {
    font-weight: bold;
    font-size: 45px;
  }
}
.header-cta > div {
  margin-top: 33px;
  display: flex;
  gap: 20px;
  .input-wrapper {
    display: inline-block;
    input {
      width: 120px;
    }
  }
  label {
    display: flex;
    align-items: center;
    span {
      margin-left: 10px;
    }
  }
}
