.become-creator {
  background-size: cover;
  background-position: center;
  padding: 100px 125px;
  text-align: center;
  margin-bottom: -84px;
}

.become-creator .col {
  padding: 0;
  text-align: center;
}
.become-creator p {
  margin-bottom: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}
.become-creator img {
  width: 100%;
}
.become-creator button {
  padding: 17px 65px;
  color: #fff;
  border-color: #fff;
}
@media (max-width: 576px) {
  .become-creator {
    padding: 25px;
    background-position: left;
  }
  .become-creator button {
    padding: 8px 12px 6px;
  }
}
