.info-text {
  font-weight: 200;
  font-weight: 300;
  &.primary {
    color: #000;
  }
  &.secondary {
    color: #626262;
  }
  &.sm {
    font-size: 14px;
  }
  &.lg {
    font-size: 18px;
  }
  &.md {
    font-size: 16px;
  }
  &.inline {
    display: inline;
  }
}
