.category {
  margin-top: 60px;
  &__title {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #fff;
    margin-bottom: 60px;
    color: #000;
    h4 {
      font-size: 30px;
      font-weight: bold;
    }
    span {
      font-size: 18px;
      font-weight: 400;
    }
  }
}
