.pd {
  .pageBG {
    height: 600px;
    img {
      display: none;
    }
  }

  .creator-header-block {
    background: var(--onBackground);
    align-items: center;
    padding: 10px 0;
    margin: 0;

    p {
      margin: 0;
    }

    h2 {
      color: var(--text);
      margin: 0;
    }

    margin-top: 90px;
    color: #dbdbdb;
    border-bottom: 0.5px solid #fff;
    a {
      color: var(--text);
      text-decoration: none;
    }
  }
  .creator-body-block {
    padding: 10px;
    margin: 0;
    margin-bottom: 50px;
    align-items: center;
    background: var(--onBackground);

    .profile {
      margin: inherit;
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 50%;

      .profile-img {
        min-height: 100%;
        width: 100%;
      }

      .tick-icon {
        width: 17px;
        height: 17px;
        position: absolute;
        bottom: 11px;
        right: 8px;
      }
    }
    h2 {
      font-weight: bold;
      font-size: 45px;
    }
  }

  @media (max-width: 576px) {
    .creator-body-block {
      justify-content: center;
      text-align: center;

      .profile {
        margin: inherit;
        width: 100px;
        height: 100px;
      }
      h2 {
        font-weight: bold;
        font-size: 20px;
      }
      p {
        font-size: 13px;
      }
    }
  }
}
