.backedBy-wrapper {
  position: absolute;
  left: 0;
  right: 0;
}
.backed-by {
  background-color: #000;
  padding: 25px 125px 45px;
}
.backed-by .col {
  padding: 0;
  text-align: center;
}
.backed-by h6 {
  margin-bottom: 15px;
}
.backed-by img {
  width: 100%;
}
@media (max-width: 576px) {
  .backed-by {
    padding: 25px 100px 45px;
  }
}
